@import '../../lib/variables';
@import '../../lib/breakpoints';

.grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  width: 100vw;

  @include breakpoint('>=tablet') {
    padding: 2rem;
  }
}

.gridCell {
  align-self: stretch;
  justify-self: stretch;
  border: 1px solid $line-color;
  border-radius: 16px;
  background: $lower-layer-color;
}
