@import '../../lib/variables';
@import '../../lib/breakpoints';

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  @include breakpoint('>=tablet') {
    padding: 2rem;
  }
}

.title,
.lastUpdatedAt {
  margin: 0;
}

.lastUpdatedAt {
  color: $secondary-text-color;
}
