@import '../../lib/variables';

.gauge {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 1.5rem;
  height: 100%;
}

.color {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 25%;
  transform: rotate(45deg);
}

.value {
  font-size: 2em;
  margin-bottom: .5rem;
}

.name {
  margin: 0;
  color: $secondary-text-color;
}
